.option {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  border-bottom: 2px solid rgb(205, 209, 216);

  label {
    font-size: 1.2em;
  }
  input {
    width: 70px;
    text-align: right;
    outline-color: #000;
  }
}

@media (max-width: 480px) {
  .option {
    padding: 20px 20px;
  }
}
